{% extends "main.html" %}


{% block content %}
  
    <h1>UPDATE YOUR PASSWORD HERE..</h1>

    <table border="2">
        <form method="post">
            {% csrf_token %}
            <tr>
                <th>OLD PASSWORD: </th>
                <td><input type="password" id="old" name="old_password" required></td>
            </tr>
            <tr>
                <th>NEW PASSWORD: </th>
                <td><input type="password" id="new" name="new_password"></td>
            </tr>
            <tr>
                <th>CONNFIRM PASSWORD: </th>
                <td><input type="password" id="confirm" name="confirm_password"></td>
            </tr>
            <tr style="display: flex; justify-content: center;">
                <td colspan="2"><button type="submit">SUBMIT</button></td>
            </tr>
        </form>
    </table>

    <a href="{% url 'profile' %}"><button>BACK</button></a>
    

{% endblock content %}